<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link rel="shortcut icon" href="{%block favicon %}{% endblock %}" type="image/x-icon">
</head>

<body>
<div class="container-all">
    <body>
    <header class="header-base">
        <nav class="nav-header">
            <h1>
                <a style="color: #fafafa; text-decoration: none;" href="{{ url_for('blog.index') }}">Blog personal</a>
            </h1>
            <div class="nav-header-links">
                <ul>
                        <li><a href="{{ url_for('blog.index') }}">Inicio</a></li>
                    {% if current_user.is_anonymous %}
                        <div style="display:flex;">
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                            <li> | </li>
                            <li><a href="{{ url_for('auth.register') }}">Registrar</a></li>
                        </div>
                        
                        {% else %}
                        <li><a href="{{ url_for('admin.post_form') }}">Crear post</a></li>
                        <li><a href="{{ url_for('blog.user_profile', username=current_user.name)}}">{{ current_user.name }}</a></li>
                        <li> | </li>
                        <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <p>TEN EN CUENTA QUE ES UNA PÁGINA EN DESARROLLO Y AÚN LE FALTAN MUCHAS FUNCIONES</p>
    </div>
    <div class="cont-container">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        Creado por: &copy; <a href="https://www.instagram.com/joel_d14z/">Joel Diaz</a>
    </footer>
</div>
</body>
</html>
